[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter \
    --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/) \
    --collector.systemd \
    --collector.processes

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target 